<div id="index">
	<div class="splash_bg">
		<video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/For_Wes.jpg" style="width: 1439px;">
			<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/For_Wes.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
  		<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/For_Wes.mp4" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
	</div>
	<div class="splash" id="upload">
		<div class="inner">
			<h1>
				Discover<br class="visible-phone"/> the hottest new startups
			</h1>
			<div class="slogan">
    		Instant video uploads. No account required.
    	</div>
    	<div class="uploadbutton_wrapper">
    		<% if user_signed_in? %>
      		<%= link_to new_startup_path, class: "uploadbutton" do %>
        		<i class="fa fa-plus"></i> Startup!
          <% end %>
        <% else %>
        	<%= link_to('Sign Up!', new_user_registration_path, class: "uploadbutton")  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="listing_wrapper">
    <div class="listing">
      <div class="gutter" data-spy="affix" data-offset-top="537" data-offset-bottom="0">
      	<h1>
        	Featured
        </h1>
				<div class="desc">
        	A look at the hottest startups
          <br/>
          <br/> Or, check out some <a href='/new'>new uploads</a>.
        </div>
      </div>
      <div class="inner">
				<ul class="videos_list js-video-feed" data-class="videos_list js-video-feed" data-order="video_id" data-direction="DESC" data-items-per-page="20" data-type="frontpage">
				<% @startups.each do |startup| %>
					<li data-id="3135227" data-channel="11" data-user="3834632" data-url="https://vid.me/Enmh" class="">
                        <div class="inner">
                            <div class="thumb_vote_wrapper">
                                <div class="thumb_vote">
                                    <a class="js-video-vote-up " data-video="3135227" data-video-title="Unexpected" data-video-url="https://vid.me/Enmh"><i class="fa fa-arrow-up"></i></a>
                                    <a class="js-video-vote-down " data-video="3135227" data-video-url="https://vid.me/Enmh"><i class="fa fa-arrow-down"></i></a>
                                </div>
                            </div>
                            <div class="thumb_wrapper">
                                <%= link_to startup, style: "background:#e0b18e" do %>
                                    <span class="thumb_duration">
                    0:20                    </span>

    																<%= image_tag startup.image.url, width: "302", height: "170", style: "margin-left:-1px;margin-top: -0px", class: "hidden-phone" %>
    																<%= image_tag startup.image.url, width: "151", height: "85", style: "margin-left:-16px;margin-top: -0px", class: "visible-phone" %>

																 <% end %>
                                <span class="thumb_title">
                                                                                                    <span class="thumb_channel">             
                        <%= link_to startup.website, startup.website %>
                    </span>
                                <%= link_to startup.name, startup, class: "thumb_title_label" %>
                                <div class="thumb_author" data-user="3834632">
                                    <%= link_to startup.description, startup, class: "thumb_author_username" %>
                                </div>
                                </span>
                            </div>
                            <div class="thumb_info">
                                <div class="thumb_info_alt">
                                    <div class="thumb_title_alt">
                                        <a href="https://vid.me/Enmh">
                                Unexpected                                </a>
                                    </div>
                                    <div class="thumb_info_alt2">
                                        <span class="thumb_author_alt">
                                    <a href="https://vid.me/EFARCHIVE" class="thumb_author_username">EFARCHIVE</a>
                                </span>
                                        <span class="divider">•</span>
                                        <span class="thumb_channel_alt">             
                                    <a href="https://vid.me/n/wtf">WTF</a>
                                </span>
                                    </div>
                                </div>
                                <ul class="thumb_stats">
                                    <li class="thumb_stat thumb_score">
                                        <a href="https://vid.me/Enmh" class="js-video-vote-score" data-video="3135227" data-score="7">
                                            <span class="num">7</span>
                                            <span class="text">points</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_views">
                                        <a href="https://vid.me/Enmh">
                                            <span class="num">61,930</span>
                                            <span class="text">plays</span>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_date">
                                        <a href="https://vid.me/Enmh">
                                            <time class="timestamp" title="July 3rd, 2015, 1:19:17 am PDT" datetime="2015-07-03T01:19:17-07:00" data-timestamp="Fri, 3 Jul 2015 1:19:17 -0700">4d ago</time>
                                        </a>
                                    </li>
                                    <li class="thumb_stat thumb_watching">
                                        <span class="js-video-watchers" data-type="video" data-video="3135227">
                            87 watching
                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
        <% end %>
				</ul>
			</div>
		</div>
	</div>
</div>