<% @page_class = "settings"  %>
<% @header_class = "opaque" %>

<div class="row-fluid main">
  <div class="container">
    <div class="content_wrapper">
      <div class="content">
        <div id="settings">
          <h1>Log in</h1>
          <br/>
          <div class="form-settings col-xs-12 col-sm-6 col-md-6">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div>
                  <%= devise_error_messages! %>
                </div>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>



              <div class="settings_submit">
                <%= f.submit "Log in", class: "btn btn-success" %>
                  <i class="fa fa-spinner fa-spin hide"></i>
                </button>

                <%= render "devise/shared/links" %>

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>